<div class="container">
    <div class="row">
        <div class="col-sm-offset-4">
            <h1>RobotController</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-5">
            <button ng-click="direction(1)" class="btn btn-primary btnWidth">Forward</button>
        </div>
    </div>
    <div class="row upPadding">
        <div class="col-sm-offset-4">
            <button ng-click="direction(2)" class="btn btn-primary btnWidth">Left</button>
            <button ng-click="direction(0)" class="btn btn-danger btnWidth">Stop</button>
            <button ng-click="direction(3)" class="btn btn-primary btnWidth">Right</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-5">
            <button ng-click="direction(4)" class="btn btn-primary btnWidth">Back</button>
        </div>
    </div>
</div>